.app {
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;      
  height: 100vh;   
  gap: 60px;         
}

.roulette-container {
  position: relative;
  width: 300px;
  height: 300px;
}

.wheel {
  width: 100%;     
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background: conic-gradient(
    red 0deg 90deg, 
    blue 90deg 180deg, 
    green 180deg 270deg, 
    yellow 270deg 360deg
  );
  border: 5px solid #FFC107;
  transition: transform 4s ease-out;
  box-shadow: 10px 5px 5px rgb(123, 123, 123);
  
}

.pointer {
  position: absolute;
  top: -30px;              
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 15px solid transparent; 
  border-right: 15px solid transparent;
  border-top: 30px solid black;  
  filter: drop-shadow(0 0 5px rgb(123, 123, 123));
  
}
.pointer.shaking{
    animation: shake 0.2s infinite;
}
.btn-start{
    color: #FFC107;
    font-size: 1.5em;
    padding: 10px 24px;
    border-radius: 8px;
    box-shadow: 0px 5px 5px rgb(123, 123, 123);
    cursor: pointer;
}
.btn-start.blocking{
  opacity: 0.6;
  cursor: not-allowed;
}
.btn-start:hover{
    font-size: 1.7em;
}
.result{
    font-size: 2em;
    color: black;
}
@keyframes shake{
  0%   { transform: translateX(-50%) rotate(0deg); }
  25%  { transform: translateX(-52%) rotate(-2deg); }
  50%  { transform: translateX(-50%) rotate(0deg); }
  75%  { transform: translateX(-48%) rotate(2deg); }
  100% { transform: translateX(-50%) rotate(0deg); }
}
